<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

<title>Eliminar estudiante</title>
</head>
<body><!-- hace falta la barra porque ya estoy en /student. sin la barra añade esa direccion a la actual y queda student/student/addSubmit -->
	<form class="form-horizontal" action="#" th:action="@{/student/deleteSubmit}" th:object="${studentDel}" method="post">
		<fieldset>

			<legend>Estudiante seleccionado</legend>

			<!-- * pilla los campos del objeto definido en form -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="name">Nombre:</label>
				<div class="col-md-4">
					<input id="name" name="name" type="text" class="form-control input-md" readonly
					th:field= "*{name}" th:value="*{studentDel.name}">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="lastName">Apellido: </label>
				<div class="col-md-4">
					<input id="lastName" name="lastName" type="text" class="form-control input-md" readonly
					th:field= "*{lastName}" th:value="*{studentDel.lastName}">

				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-4 control-label" for="age">Edad: </label>
				<div class="col-md-4">
					<input id="age" name="age" type="number" class="form-control input-md" readonly
					th:field= "*{age}" th:value="*{studentDel.age}">

				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="send"></label>
				<div class="col-md-4">
					<button id="send" name="send" class="btn btn-primary">Enviar</button>
				</div>
			</div>

		</fieldset>
	</form>
</body>
</html>